@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-4">
    <div class="row">
        <!-- Tarjeta 1: Ir a KPIs -->
        @if (User.Identity.IsAuthenticated)
        {

            <div class="col-md-4 mb-3">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">KPIs</h4>
                        <p class="card-text">Revisa los KPIs en tiempo real</p>
                        <a asp-area="KPIS" asp-controller="KPIS" asp-action="Index" class="btn btn-primary">
                            Ver KPIs
                        </a>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2: Histórico -->
            <div class="col-md-4 mb-3">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Histórico</h4>
                        <p class="card-text">Consulta datos de producción pasados</p>
                        <a asp-area="KPIS" asp-controller="Historico" asp-action="Historico" class="btn btn-primary">
                            Ir a Histórico
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-3">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Configuración</h4>
                        <p class="card-text">Configurar objetivos y personal</p>
                        <a asp-area="KPIS" asp-controller="ConfigurarObjetivos" asp-action="ObjetivosConfigurables" class="btn btn-primary">
                            Configuración
                        </a>
                    </div>
                </div>
            </div>
        }

        <!-- Tarjeta 2: Histórico -->
        <!--<div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Histórico</h4>
                    <p class="card-text">Consulta datos de producción pasados</p>
                    <a asp-area="KPIS" asp-controller="Historico" asp-action="Historico" class="btn btn-primary">
                        Ir a Histórico
                    </a>
                </div>
            </div>
        </div>-->

        <!-- Tarjeta 3: Info Envasadoras -->
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Envasadoras</h4>
                    <p class="card-text">Información de Envasadoras en uso</p>
                    <a id="infoEnvasadoras-linkBis" class="btn btn-primary" href="#">Ver Envasadoras</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 4: Info Discriminadora -->
        <div class="col-md-4 mb-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Discriminadora</h4>
                    <p class="card-text">Información de la Discriminadora</p>
                    <a id="infoDiscriminadora-linkBis" class="btn btn-primary" href="#">Ver Linea</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}