 @{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center" style="background: url('~/images/hero.jpg') no-repeat center center; background-size:cover; color:white; padding:100px 0;">
    <h1 class="display-4" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.8);">NAT-CABO</h1>
    <p class="lead" style="text-shadow: 1px 1px 3px rgba(0,0,0,1);">
        Soluciones profesionales de análisis de datos de Pesaje Industrial
    </p>
    <hr class="my-4">
    <p>Maximizamos tu productividad optimizando el pesaje y empaquetado de productos</p>
    <a class="btn btn-primary btn-lg" href="/KPIS/KPIS/Index" role="button">Ver KPIs</a>
  
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="bi bi-speedometer2" style="font-size: 2rem; color: var(--principal-azul);"></i>
            <h3 class="mt-3">Análisis en tiempo real</h3>
            <p>Monitorea el rendimiento con datos precisos y actualizados, optimizando costos y eficiencia.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-file-earmark-bar-graph" style="font-size: 2rem; color: var(--principal-azul);"></i>
            <h3 class="mt-3">Reportes personalizados</h3>
            <p>Genera informes adaptados a tus necesidades para decisiones más informadas.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="bi bi-people" style="font-size: 2rem; color: var(--principal-azul);"></i>
            <h3 class="mt-3">Soporte y consultoría</h3>
            <p>Asesoramiento experto en interpretación de datos y mejoras de procesos.</p>
        </div>
    </div>
</div> 
