


.container {
    background: #F7F9FC !important
}
/* Estilos generales para los valores destacados */
.data-value {
    font-size: 1.8rem;
    font-weight: bold;
}

.data-large {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Estilo para el número de Personal Periférico */
.personal-indicator {
    width: 80px;
    height: 80px;
    background-color: green;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    margin: auto;
    padding:1rem,
}

/* Estilos para los indicadores de estado */

.traffic-light {
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 12px; 
    margin-bottom: 1rem;
    width:80%;
}
.traffic-light p {
    margin: 0;
    margin-right: 0.5rem;
}


.status-indicator {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 0.5rem;
    background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.8) 0%, var(--estado-color) 70%);
}

/* Clases de color */
.status-red {
    --estado-color: #e74c3c;
}

.status-green {
    --estado-color: #2ecc71;
}

.status-yellow {
    --estado-color: #f1c40f;
}

