
@import url('../utilities/variables.css');

.navbar {
    background-color: var(--blanco) !important;
}

.navbar-nav .nav-link {
  cursor: pointer;
  color: var(--principal-azul);

  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff !important;
  border-radius: 5px;
}

.navbar-nav .nav-link.active {
  text-decoration: underline;
}
