@model NATCABOSede.ViewModels.DatosKpiViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Envasadoras";
}

<div class="container mt-4 text-center">
    <h1 class="display-4 fw-bold">@Model.NombreLinea</h1>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title">Cliente</h2>
                    <p class="card-text data-value">@Model.Cliente</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title">Producto</h2>
                    <p class="card-text data-value">@Model.Producto</p>
                </div>
            </div>
        </div>
    </div>
</div>