@using NATCABOSede.ViewModels
@model List<LineaKpiViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Envasadora " + ViewBag.Discriminadora;
  
}

@foreach (var linea in Model)
{
    <div class="container mt-3">
        <div class="row align-items-center mb-4">
            <div class="col-12">
                <h2 class="fw-bold mb-0">@linea.NombreLinea</h2>
            </div>
            <div class="col-12 col-md-6 d-flex gap-3 mt-3">
                <div class="card shadow-sm flex-fill">
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase">PPM</h5>
                        <p class="card-text fs-3 fw-semibold">@linea.PPM.ToString("N2")</p>
                    </div>
                </div>
                <div class="card shadow-sm flex-fill">
                    <div class="card-body text-center">
                        <h5 class="card-title text-uppercase">Objetivo</h5>
                        <p class="card-text fs-3 fw-semibold">@linea.Objetivo.ToString("N2")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<scr